packages
.vs
bin
obj
~$тодические рекомендации по работе с ЕСМЭВ версия_3.1.0.0.docx
~$ISMEV3 концепт.doc
packages
/DATA/DOC/~WRL0001.tmp
/Unismev/Unismev/scripts/Build-Release-AnyCPU_gleb.bat
/Unismev/Respond/scripts/Build-Release-AnyCPU_gleb.bat
